.underline {
    text-decoration: underline;
}

.required label:before {
    content: '* ';
    color: #f00;
}

.bb-1 {
    border-bottom: 1px solid black;
}

.bt-1 {
    border-top: 1px solid black;
}
